@model Asn_23.Models.Smart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Smart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadDateReport.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadDateReport.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfAssault.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfAssault.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfResidence.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfResidence.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clients.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrugFacilitatedAssault.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugFacilitatedAssault.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvidenceStored.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvidenceStored.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIVMeds.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIVMeds.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalAttended.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalAttended.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalOnly.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalOnly.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultiplePerpetrators.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultiplePerpetrators.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceAttendance.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceAttendance.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceReported.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceReported.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferredToCBVS.YesNoPVBSOnlyNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferredToCBVS.YesNoPVBSOnlyNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferringHospital.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferringHospital.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexWorkExploitation.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexWorkExploitation.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialWorkAttendance.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialWorkAttendance.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyReport.YesNoNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartyReport.YesNoNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccompanimnetMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccompanimnetMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VictimServiceAttendanceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VictimServiceAttendanceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferredToNursePractitioner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferredToNursePractitioner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SmartId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
