@model IEnumerable<Asn_23.Models.ReferredToCBVS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YesNoPVBSOnlyNA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YesNoPVBSOnlyNA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReferredToCBVSId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReferredToCBVSId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReferredToCBVSId })
        </td>
    </tr>
}

</table>
