@model IEnumerable<Asn_23.Models.VictimOfIncident>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryOrSecondary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryOrSecondary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VictimOfIncidentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VictimOfIncidentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VictimOfIncidentId })
        </td>
    </tr>
}

</table>
